########################### NETWORKS
networks:
  default:
    driver: bridge
  lsio:
    ipam:
      driver: default
      config:
        - subnet: "172.21.0.0/16"
          gateway: "172.21.0.1"
    name: lsio

services:
  ############################# WEBSERVER
  # Swag - webserver, reverse proxy
  swag:
    container_name: swag
    image: lscr.io/linuxserver/swag:latest
    restart: unless-stopped
    networks:
      lsio:
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
    cap_add:
      - NET_ADMIN
    ports:
      - 449:443
      - 89:80
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - URL=${DOMAINNAME}
      - SUBDOMAINS=wildcard
      - VALIDATION=dns
      - DNSPLUGIN=cloudflare
      - CERTPROVIDER=zerossl
      - STAGING=false
      - EMAIL=${CLOUDFLARE_EMAIL}
      - DOCKER_MODS=linuxserver/mods:swag-cloudflare-real-ip|linuxserver/mods:swag-maxmind
      - MAXMINDDB_LICENSE_KEY=${MAXMINDDB_LICENSE_KEY}
      - HAS_IPV6=false
    volumes:
      - ${USERDIR}/swag:/config
    labels:
      - dozzle
      - org.hotio.pullio.notify=true
      - org.hotio.pullio.update=true
      - org.hotio.pullio.discord.webhook=${DISCORD}
      - org.hotio.pullio.generic.webhook=${PULLIO}
      - org.hotio.pullio.script.notify=bash /notify-script.sh
      - org.hotio.pullio.script.update=bash /update-script.sh

  # Cloudflare DDNS - Dynamic DNS Updater
  cf-ddns:
    container_name: cloudflare-ddns
    image: oznu/cloudflare-ddns
    restart: unless-stopped
    networks:
      lsio:
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - API_KEY=${API_KEY}
      - ZONE=${DOMAINNAME}
      - PROXIED=false
      - RRTYPE=A
      - DELETE_ON_STOP=false
      - DNS_SERVER=1.1.1.1
      - CRON="@daily"
    labels:
      - dozzle
      - org.hotio.pullio.notify=true
      - org.hotio.pullio.update=true
      - org.hotio.pullio.discord.webhook=${DISCORD}
      - org.hotio.pullio.generic.webhook=${PULLIO}
      - org.hotio.pullio.script.notify=bash /notify-script.sh
      - org.hotio.pullio.script.update=bash /update-script.sh

  # Flaresolverr - Bypass Cloudflare e.g. for Torrentleech
  flaresolverr:
    container_name: flaresolverr
    image: ghcr.io/flaresolverr/flaresolverr:latest
    restart: unless-stopped
    networks:
      lsio:
    ports:
      - 8191:8191
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - LOG_LEVEL=error
      - HAS_IPV6=false
    labels:
      - org.hotio.pullio.notify=true
      - org.hotio.pullio.update=true
      - org.hotio.pullio.discord.webhook=${DISCORD}
      - org.hotio.pullio.generic.webhook=${PULLIO}
      - org.hotio.pullio.script.notify=bash /notify-script.sh
      - org.hotio.pullio.script.update=bash /update-script.sh

  ############################# FRONTENDS
  # Organizr - Unified Frontend
  organizr:
    container_name: organizr
    image: ghcr.io/organizr/organizr
    restart: unless-stopped
    networks:
      lsio:
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
    ports:
      - 88:80
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - fpm=true #true or false | using true will provide better performance
    volumes:
      - ${USERDIR}/organizr:/config
    labels:
      - dozzle
      - org.hotio.pullio.notify=true
      - org.hotio.pullio.update=true
      - org.hotio.pullio.discord.webhook=${DISCORD}
      - org.hotio.pullio.generic.webhook=${PULLIO}
      - org.hotio.pullio.script.notify=bash /notify-script.sh
      - org.hotio.pullio.script.update=bash /update-script.sh

  ############################# INDEXERS
  # Prowlarr - Hydra and Jackett combined
  prowlarr:
    container_name: prowlarr
    hostname: prowlarr
    image: lscr.io/linuxserver/prowlarr:latest
    restart: unless-stopped
    networks:
      lsio:
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
    ports:
      - 9696:9696
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - HAS_IPV6=false
    volumes:
      - ${USERDIR}/prowlarr:/config
    labels:
      - dozzle
      - org.hotio.pullio.notify=true
      - org.hotio.pullio.update=true
      - org.hotio.pullio.discord.webhook=${DISCORD}
      - org.hotio.pullio.generic.webhook=${PULLIO}
      - org.hotio.pullio.script.notify=bash /notify-script.sh
      - org.hotio.pullio.script.update=bash /update-script.sh

  ############################# DOWNLOADERS
  # SABnzbd - nzb downloader
  sabnzbd:
    container_name: sabnzbd
    hostname: sabnzbd
    image: lscr.io/linuxserver/sabnzbd:latest
    restart: unless-stopped
    networks:
      lsio:
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
    ports:
      - 9998:8080
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - HAS_IPV6=false
      - DOCKER_MODS=linuxserver/mods:sabnzbd-par2cmdline-turbo
    volumes:
      - ${USERDIR}/sabnzbd:/config
      - ${DATADIR}/usenet:/data/usenet:rw
    labels:
      - dozzle
      - org.hotio.pullio.notify=true
      - org.hotio.pullio.update=true
      - org.hotio.pullio.discord.webhook=${DISCORD}
      - org.hotio.pullio.generic.webhook=${PULLIO}
      - org.hotio.pullio.script.notify=bash /notify-script.sh
      - org.hotio.pullio.script.update=bash /update-script.sh

  # qBittorrent - torrent downloader
  qbittorrent:
    container_name: qbittorrent
    hostname: qbittorrent
    image: lscr.io/linuxserver/qbittorrent:latest
    restart: unless-stopped
    networks:
      lsio:
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
    ports:
      - 9997:8080
      - 9091:9091
      - 65118:65118
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - WEBUI_PORT=8080
      - HAS_IPV6=false
    volumes:
      - ${USERDIR}/qBittorrent:/config
      - ${DATADIR}/torrents:/data/torrents
    labels:
      - dozzle
      - org.hotio.pullio.notify=true
      - org.hotio.pullio.update=true
      - org.hotio.pullio.discord.webhook=${DISCORD}
      - org.hotio.pullio.generic.webhook=${PULLIO}
      - org.hotio.pullio.script.notify=bash /notify-script.sh
      - org.hotio.pullio.script.update=bash /update-script.sh

  ############################# MEDIA SEARCH/INDEX
  # Radarr - Movies
  radarr:
    container_name: radarr
    hostname: radarr
    image: lscr.io/linuxserver/radarr:latest
    restart: unless-stopped
    networks:
      lsio:
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
    ports:
      - 7878:7878
    entrypoint:
      - /init
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - HAS_IPV6=false
    volumes:
      - ${USERDIR}/radarr:/config
      - ${DATADIR}:/data
    labels:
      - dozzle
      - org.hotio.pullio.notify=true
      - org.hotio.pullio.update=true
      - org.hotio.pullio.discord.webhook=${DISCORD}
      - org.hotio.pullio.generic.webhook=${PULLIO}
      - org.hotio.pullio.script.notify=bash /notify-script.sh
      - org.hotio.pullio.script.update=bash /update-script.sh

  # Sonarr - TV
  sonarr:
    container_name: sonarr
    hostname: sonarr
    image: lscr.io/linuxserver/sonarr:develop
    restart: unless-stopped
    networks:
      lsio:
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
    ports:
      - 8989:8989
    entrypoint:
      - /init
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - HAS_IPV6=false
    volumes:
      - ${USERDIR}/sonarr:/config
      - ${DATADIR}:/data
    labels:
      - dozzle
      - org.hotio.pullio.notify=true
      - org.hotio.pullio.update=true
      - org.hotio.pullio.discord.webhook=${DISCORD}
      - org.hotio.pullio.generic.webhook=${PULLIO}
      - org.hotio.pullio.script.notify=bash /notify-script.sh
      - org.hotio.pullio.script.update=bash /update-script.sh

  # Bazarr – Subtitle Management
  bazarr:
    container_name: bazarr
    hostname: bazarr
    image: lscr.io/linuxserver/bazarr:latest
    restart: unless-stopped
    mem_limit: 300M
    mem_reservation: 250M
    networks:
      lsio:
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
    ports:
      - 6767:6767
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - HAS_IPV6=false
    volumes:
      - ${USERDIR}/bazarr:/config
      - ${DATADIR}/media:/data/media
    labels:
      - dozzle
      - org.hotio.pullio.notify=true
      - org.hotio.pullio.update=true
      - org.hotio.pullio.discord.webhook=${DISCORD}
      - org.hotio.pullio.generic.webhook=${PULLIO}
      - org.hotio.pullio.script.notify=bash /notify-script.sh
      - org.hotio.pullio.script.update=bash /update-script.sh

  # Tdarr - Video conversion
  tdarr:
    container_name: tdarr
    image: haveagitgat/tdarr
    restart: unless-stopped
    networks:
      lsio:
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
    ports:
      - 8265:8265
      - 8266:8266
    devices:
      - /dev/dri:/dev/dri
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - serverIP=0.0.0.0
      - serverPort=8266
      - webUIPort=8265
      - internalNode=true
      - nodeID=TdarrNode
      - NVIDIA_DRIVER_CAPABILITIES=all
      - NVIDIA_VISIBLE_DEVICES=all
      - THREADS_WORKER_INIT_TIMEOUT=200000
      - gpus=all
    volumes:
      - ${USERDIR}:/app/server
      - ${USERDIR}/Tdarr/Configs:/app/configs
      - ${USERDIR}/Tdarr/Logs:/app/logs
      - ${DATADIR}/media/Transcode:/temp
      - ${DATADIR}/media:/data/media
    labels:
      - dozzle
      - org.hotio.pullio.notify=true
      - org.hotio.pullio.update=true
      - org.hotio.pullio.discord.webhook=${DISCORD}
      - org.hotio.pullio.generic.webhook=${PULLIO}
      - org.hotio.pullio.script.notify=bash /notify-script.sh
      - org.hotio.pullio.script.update=bash /update-script.sh

  ############################# HOME THEATRE
  plex:
    container_name: plex
    hostname: plex
    image: lscr.io/linuxserver/plex:latest
    restart: unless-stopped
    network_mode: "host"
    # networks:
      # lsio:
    # ports:
      # - 32400:32400
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - PLEX_CLAIM=${PLEX_CLAIM}
      - VERSION=docker
      - HAS_IPV6=false
    volumes:
      - ${USERDIR}/plex:/config
      - ${DATADIR}/media:/data/media
      - ${DATADIR}/media:/transcode
    devices:
      - /dev/dri:/dev/dri # optional: if Syno has Intel CPU & you want HW transcoding
    labels:
      - dozzle
      - org.hotio.pullio.notify=true
      - org.hotio.pullio.update=true
      - org.hotio.pullio.discord.webhook=${DISCORD}
      - org.hotio.pullio.generic.webhook=${PULLIO}
      - org.hotio.pullio.script.notify=bash /notify-script.sh
      - org.hotio.pullio.script.update=bash /update-script.sh

  ############################# PLEX MONITORING
  tautulli:
    container_name: tautulli
    hostname: tautulli
    image: lscr.io/linuxserver/tautulli:latest
    restart: unless-stopped
    networks:
      lsio:
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
    ports:
      - 8181:8181
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - HAS_IPV6=false
    volumes:
      - ${USERDIR}/tautulli:/config
      - ${USERDIR}/plex:/plex
    labels:
      - dozzle
      - org.hotio.pullio.notify=true
      - org.hotio.pullio.update=true
      - org.hotio.pullio.discord.webhook=${DISCORD}
      - org.hotio.pullio.generic.webhook=${PULLIO}
      - org.hotio.pullio.script.notify=bash /notify-script.sh
      - org.hotio.pullio.script.update=bash /update-script.sh

  ############################# BOOK LIBRARY MANAGEMENT
  # Calibre – Content server
  calibre:
    container_name: calibre
    image: lscr.io/linuxserver/calibre:latest
    security_opt:
      - seccomp:unconfined #optional
    restart: unless-stopped
    networks:
      lsio:
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
    ports:
      - 7080:8080
      - 8081:8081
    devices:
      - /dev/dri:/dev/dri
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - DISABLE_AUTH=true
      - HAS_IPV6=false
      - XDG_RUNTIME_DIR=/tmp/runtime-abc
    volumes:
      - ${USERDIR}/calibre:/config
      - ${DATADIR}:/data
      - ${DATADIR}/media/books/imports:/imports
      - ${USERDIR}/calibre/tmp/runtime-abc:/tmp/runtime-abc
    labels:
      - dozzle
      - org.hotio.pullio.notify=true
      - org.hotio.pullio.update=true
      - org.hotio.pullio.discord.webhook=${DISCORD}
      - org.hotio.pullio.generic.webhook=${PULLIO}
      - org.hotio.pullio.script.notify=bash /notify-script.sh
      - org.hotio.pullio.script.update=bash /update-script.sh

  ############################# SYSTEM MANAGEMENT/MONITORING
  # Dozzle - Real-time Docker Log Viewer
  dozzle:
    container_name: dozzle
    image: amir20/dozzle
    restart: unless-stopped
    networks:
      lsio:
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
    ports:
      - 9999:8080
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - DOZZLE_LEVEL=error
      - DOZZLE_TAILSIZE=300
      - DOZZLE_FILTER="status=running"
      - DOZZLE_FILTER="label=dozzle" # limits logs displayed to containers with this label
      # - DOCKER_HOST="tcp://dockerproxy:2375" # enable when using socket proxy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      - org.hotio.pullio.notify=true
      - org.hotio.pullio.update=true
      - org.hotio.pullio.discord.webhook=${DISCORD}
      - org.hotio.pullio.generic.webhook=${PULLIO}
      - org.hotio.pullio.script.notify=bash /notify-script.sh
      - org.hotio.pullio.script.update=bash /update-script.sh

  # Notifiarr - update ARR profiles
  notifiarr:
    container_name: notifiarr
    hostname: notifiarr
    image: golift/notifiarr
    privileged: true
    restart: unless-stopped
    networks:
      lsio:
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
    ports:
      - 5454:5454
    environment:
      - USER=docker
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - DN_API_KEY=${NOTIFIARR}
    volumes:
      - ${USERDIR}/notifiarr:/config
      - /var/run/utmp:/var/run/utmp
      - /etc/machine-id:/etc/machine-id
    labels:
      - dozzle
      - org.hotio.pullio.notify=true
      - org.hotio.pullio.update=true
      - org.hotio.pullio.discord.webhook=${DISCORD}
      - org.hotio.pullio.generic.webhook=${PULLIO}
      - org.hotio.pullio.script.notify=bash /notify-script.sh
      - org.hotio.pullio.script.update=bash /update-script.sh

  ############################# SECURITY/PASSWORD MANAGEMENT
  # Vaultwarden - Locally-hosted Bitwarden
  bitwarden:
    container_name: bitwarden
    image: vaultwarden/server
    restart: unless-stopped
    networks:
      lsio:
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
    ports:
      - 8269:80
      - 3012:3012
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - WEBSOCKET_ENABLED=true  # Enable WebSocket notifications.
      - ADMIN_TOKEN=${VAULTWARDEN_TOKEN}
      - SMTP_HOST=smtp.gmail.com
      - SMTP_FROM=${CLOUDFLARE_EMAIL}
      - SMTP_PORT=587
      - SMTP_SECURITY=starttls
      - SMTP_USERNAME=${CLOUDFLARE_EMAIL}
      - SMTP_PASSWORD=${GOOGPASS}
    volumes:
      - ${VAULTDIR}:/data
    labels:
      - dozzle
      - org.hotio.pullio.notify=true
      - org.hotio.pullio.update=true
      - org.hotio.pullio.discord.webhook=${DISCORD}
      - org.hotio.pullio.generic.webhook=${PULLIO}
      - org.hotio.pullio.script.notify=bash /notify-script.sh
      - org.hotio.pullio.script.update=bash /update-script.sh
